
<h3>Search movies</h3>
<div class="row">
  <div class="col-lg-12">
    <%= form_tag({controller: "search", action: "index"}, {method: :get, id: "search_form"}) do %>
      <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1"><span class="fa fa-search"></span></span>
      <%= text_field_tag :query, @query, placeholder: "Search here", class: "form-control", "aria-describedby" => "sizing-addon1" %>
      </div>
    <% end %>
  </div>
</div>

<h3>Browse by genre</h3>
<div class="section-border">
  <div class="row no-gutter">
  <% @genres.in_groups(3, false) do |genres| %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="list-group">
        <% genres.each do |genre| %>
        <li class="list-group-item text-center">
            <%= link_to genre.name, search_path(new_genre: genre.name) %>
        </a></li>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<h3>Suggested</h3>
<div class="section-border">
  <div class="row">
  <% @movies.in_groups(3, false) do |movies| %>
    <div class="col-lg-4">
      <% movies.each do |movie| %>
      <%= render partial: "movie", locals: { movie: movie } %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>